<launch>

    <!-- Start follow_vehicle nodes -->

    <node name="follow_vehicle" pkg="summer_school_exercises" type="follow_vehicle.py" output="screen" ns="drone_1">
        <param name="drone_id" value="1"/>
        <rosparam param="relative_position">[-5.0, 0.0, 3.0]</rosparam>
    </node>

</launch>
